@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* common css start*/
.container{
  width: 1150px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

a:hover {
  text-decoration: none;
}

a{
  text-decoration: none;
}

h2 {
  font-size: 30px;
}

p{
  padding: 0px;
  margin: 0px;
}
/* common css end */


/* common btn start */
.common-btn span {
  font-size: 10px;
  text-transform: uppercase;
  color: #414141;
}

.common-btn h2 span {
  color: #8bc34a;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}

.common-btn h2 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 600;
  color: #414141;
}
/* common btn end */

/* header top css */
#header-top {
  background: #343434;
}
.header-content{
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 17px;
}

.left-top ul, .right-top ul {
  display: flex;
  color: #7d7d7d;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
}

.left-top ul li, .right-top ul li{
  list-style: none;
  margin-right: 16px;
}
.left-top ul li{
  font-size: 13px;
}
.left-top ul li i{
  margin-right: 6px;
}
.right-top ul li a i{
  color: #7d7d7d;
  font-size: 14px;
}
.right-top ul li .active i{
  color: #fff;
}

/* menu bar */
.menu-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.menu ul{
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
}
.menu ul li{
  list-style-type: none;
  margin-right: 15px;
  margin-left: 15px;
}
.menu ul li a{
  font-size: 13px;
  font-weight: 400;
  color: #686868;
  text-transform: uppercase;
}
.menu ul li .active{
  color: #4caf50;
}

/* slider css */
.slider-content{
  position: relative;
}
.slider-content img{
  width: 100%;
  height: auto;
}
.slider-content::before{
  position: absolute;
  content: "";
  background-color: #0c0000ad;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider-main-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 920px;
}
.slider-main-content .pra-1{
  font-size: 24px;
}
.slider-main-content .pra-1,
.slider-main-content .par-2
 {
  font-weight: 500;
}

.slider-main-content h2 {
  font-size: 60px;
  font-weight: 700;
}

.slider-main-content .par-2 {
  font-size: 16px;
}

.slider-btn {
  margin-top: 60px;
}

.slider-btn .btn-1, .slider-btn .btn-2 {
  padding: 14px 30px;
  color: #fff;
  border-radius: 50px;
  margin-right: 30px;
  text-transform: uppercase;
  border: 1px solid #fff;
  font-size: 13px;
  transition: .5s;
}
.slider-btn .btn-1{
  background: #4caf50;
}
.slider-btn .btn-2{
  color: #4caf50;
}
.slider-btn .btn-2:hover{
  background-color: #4caf50;
  color: #fff;
}
section#slider {
  position: relative;
}

.slider-bulet {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 10;
}

.slider-bulet ul {
  display: flex;
}

.slider-bulet ul li {
  width: 8px;
  height: 2px;
  margin-right: 9px;
  background: #414141;
}

.about-content {
  display: flex;
}

.about-img-1 {
  width: 420px;
  height: 530px;
  background-color: #4caf50;
}

.about-img-2 {
  width: 420px;
  height: 530px;
  background-color: #414141;
}

.about-img-content {
  width: 420px;
  height: auto;
  position: relative;
  margin-right: 30px;
  top: -128px;
}

.about-img-2 {
  position: absolute;
  top: 30px;
  left: 30px;
}

.about-info {
  margin-left: 30px;
  padding-top: 30px;
}

.about-info span {
  text-transform: uppercase;
  font-size: 10px;
  color: #444444;
}

.about-info h2 {
  font-size: 30px;
  font-weight: 600;
  color: #444444;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.about-info h2 span {
  font-size: 30px;
  font-weight: 600;
  color: #8bc34a;
  text-transform: capitalize;
}

.about-info p {
  line-height: 31px;
  padding-bottom: 20px;
}

.about-info a {
  padding: 10px 20px;
  border: 1px solid #8bc34a;
  border-radius: 50px;
  color: #8bc34a;
  text-transform: capitalize;
  letter-spacing: 2px;
  transition: .3s;
}

.about-info a:hover {
  background-color: #8bc34a;
  color: #fff;
}

.about-btn {
  margin-top: 30px;
}

section#what_we_do {
  background-color: #fafafa;
  padding: 20px;
  padding-bottom: 20px;
}

.what-we-do-left-content {
  margin-right: 10px;
  margin-top: 88px;
  text-align: left;
  overflow: hidden;
  padding: 0px;
}

.service-img-1 {
  width: 420px;
  height: 530px;
  background-color: #4caf50;
}

.container.what-we-do-content {
  display: flex;
}

.what-we-do-left-content p {
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 28px;
}

.service-item {
  display: flex;
}

.service-box h2 {
  font-size: 18px;
}

.service-box {margin-right: 10px;}

.service-box p {
  font-size: 14px;
}

.service-box span {
  font-size: 40px;
}

.service-img-1 {
  width: 420px;
  height: 530px;
  background-color: #4caf50;
}

.what-we-do-right-content {
  margin-top: 60px;
  position: relative;
}

.service-img-2 {
  width: 420px;
  height: 530px;
  background-color: #414141;
  position: absolute;
  top: 30px;
  left: 30px;
}

.service-box h2 {
  position: relative;
}

.service-box h2:before {
  position: absolute;
  content: "";
  top: 30px;
  left: 0px;
  width: 27px;
  height: 1px;
  background-color: #414141;
}